@model BugTracker.Models.CreateEditTicketViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ticket</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label>Project</label>
            <div class="col-md-10">
                @*@Html.DropDownList("ProjectManagerId", Model.Projects, "Select Project", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.Ticket.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ticket.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ticket.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ticket.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ticket.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Assign Developer</label>
            <div class="col-md-10">
                @Html.DropDownList("AssignedToId", Model.Developers, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ticket.AssignedToId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Priority</label>
            <div class="col-md-10">
                @Html.DropDownList("PriorityId", Model.Priorities, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ticket.PriorityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Action</label>
            <div class="col-md-10">
                @Html.DropDownList("ActionId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ticket.ActionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Phase</label>
            <div class="col-md-10">
                @Html.DropDownList("PhaseId", Model.Phases, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ticket.PhaseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Status</label>
            <div class="col-md-10">
                @Html.DropDownList("StatusId", Model.Statuses, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ticket.StatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
