@model BugTracker.Models.Ticket
@using BugTracker.HelperExtensions

<div id="ticketDetails" class="col-md-12">
    <div class="box-info shadow">
        <h2><strong>Details</strong> for Ticket: @Model.Name</h2>
        <div class="row">
            <div class="col-md-4">
                <dl>
                    <dt>Project</dt>
                    <dd>@Model.Project.Name</dd>
                    <dt>Priority</dt>
                    <dd>@Model.Priority.Name</dd>
                    <dt>Project Deadline</dt>
                    @if (Model.Project.Deadline != null)
                    { <dd>@Model.Project.Deadline.FormatDateTimeOffset()</dd> }
                    else { <dd>none given </dd>}
                    <dt>Assigned To</dt>
                    @if (Model.AssignedTo != null)
                    { <dd>@Model.AssignedTo.FullName</dd> }
                    else { <dd>unassigned</dd> }
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Description</dt>
                    @if (Model.Description != null)
                    { <dd>@Model.Description</dd> }
                    else { <dd>no description given</dd> }
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <dt>Status</dt>
                    @if (Model.Status != null)
                    { <dd>@Model.Status.Name</dd> }
                    else { <dd>unassigned </dd>}
                    <dt>Phase</dt>
                    @if (Model.Phase != null)
                    { <dd>@Model.Phase.Name</dd> }
                    else { <dd>unassigned </dd>}
                    <dt>Type</dt>
                    @if (Model.Action != null)
                    { <dd>@Model.Action.Name</dd> }
                    else { <dd>unassigned </dd>}
                    <dt>Submitted</dt>
                    <dd>@Model.Submitted.FormatDateTimeOffset()</dd>
                </dl>
            </div>
            <div class="col-md-12">
                <div class="pull-right">
                    <a href=@Url.Action("Edit", "Tickets", new { id = Model.Id }) class="btn btn-warning">Edit</a>
                    <a href=@Url.Action("UserTickets") class="btn btn-info">Back To My Tickets</a>
                    @if (User.IsInRole("Administrator"))
            {
                        <a href=@Url.Action("Index") class="btn btn-info">Back To All Tickets</a>
                    }  
                </div>
            </div>
        </div>
    </div>
    <div class="box-info shadow">
        <div class="innerTable col-md-12">
            <h2>Change Log</h2>
            <table class="data-table hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Modified Property</th>
                        <th>New Value</th>
                        <th>Old Value</th>
                        <th>Modified By</th>
                    </tr>
                </thead>
                <tbody>
                    @*@if (Model.Logs.Count() == 0)
            {
                        <tr>
                            <td>There have been no changes to this ticket.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var log in Model.Logs)
                        {
                            <tr>
                                <td>@log.Modified.FormatDateTimeOffset()</td>
                                <td>@log.Property</td>
                                <td>@log.NewValue</td>
                                <td>@log.OldValue</td>
                                <td>@log.ModifiedBy.FullName</td>
                            </tr>
                        }
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>

