@model IEnumerable<BugTracker.Models.Ticket>
@using BugTracker.HelperExtensions
@{
    ViewBag.Title = "Index";
}

<div class="box-info shadow">
    <h2><strong>All</strong> Tickets 
    @if (User.IsInRole("Project Manager") || User.IsInRole("Developer"))
    {
        <a href=@Url.Action("UserTickets") class="btn btn-warning pull-right">View My Tickets</a>
    }
     </h2>
    <table id="allTickets" class="data-table hover table-striped compact">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project</th>
                <th>Assigned To</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Type</th>
                <th>Phase</th>
                <th>Submitted By</th>
                <th>On</th>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.Name</td>
                    @if (ticket.Project == null)
                    { <td>unassigned</td>}
                    else
                    { <td>@ticket.Project.Name</td> } 
                    @if (ticket.AssignedToId == null)
                    { <td>unassigned</td> }
                    else
                    { <td>@ticket.AssignedTo.FullName</td> } 
                    @if (ticket.Priority == null)
                    { <td>unassigned</td> }
                    else
                    { <td>@ticket.Priority.Name</td> } 
                    @if (ticket.Status == null)
                    {
                    <td>unassigned</td> }
                    else
                    { <td>@ticket.Status.Name</td> } 
                    @if (ticket.Action == null)
                    {
                    <td>unassigned</td> }
                    else
                    { <td>@ticket.Action.Name</td> } 
                    @if (ticket.Phase == null)
                    { <td>unassigned</td> }
                    else
                    { <td>@ticket.Phase.Name</td> }                                         
                    <td>@ticket.Submitter.FullName</td>
                    <td>@ticket.Submitted.FormatDateTimeOffsetCondensed()</td>
                    <td><a href=@Url.Action("Details", "Tickets", new { id = ticket.Id }) class="btn btn-warning"><i class="fa fa-eye"></i></a>
                </tr>
            }
        </tbody>
    </table>
</div>
