@model BugTracker.Models.UserTicketsViewModel
    @using BugTracker.HelperExtensions
@{
    ViewBag.Title = "UserTickets";
}

@if (User.IsInRole("Developer"))
{
<div id="userTickets" class="box-info shadow">
    <h2>My <strong>Assigned Tickets</strong></h2>
        @if (User.IsInRole("Administrator"))
        {<div id="headerButtons">
            <a href=@Url.Action("Index") class="btn btn-warning pull-right">View All Tickets</a>
        </div>
        }
    <table id="userTickets" class="data-table hover table-striped compact">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Type</th>
                <th>Phase</th>
                <th>Submitted</th>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.AssignedTickets == null)
            {
                <tr><td>No assigned tickets</td></tr>
            }
            else
            {
                foreach (var ticket in Model.AssignedTickets)
                {
                    <tr>
                        <td>@ticket.Name</td>
                        <td>@ticket.Project.Name</td>
                        <td>@ticket.Priority.Name</td>
                        <td>@ticket.Status.Name</td>
                        <td>@ticket.Action.Name</td>
                        <td>@ticket.Phase.Name</td>
                        <td>@ticket.Submitted.FormatDateTimeOffsetCondensed()</td>
                        <td><a href=@Url.Action("Details", "Tickets", new { id = ticket.Id }) class="btn btn-warning"><i class="fa fa-eye"></i></a>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
}

@if (Model.SubmittedTickets != null)
{
<div id="submittedTickets" class="box-info shadow">
    <h2>My Current <strong>Submitted Tickets</strong></h2>
    <table id="userTickets" class="data-table hover table-striped compact">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project</th>
                <th>Assigned To</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Type</th>
                <th>Phase</th>
                <th>Submitted</th>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.SubmittedTickets)
            {
                <tr>
                    <td>@ticket.Name</td>
                    <td>@ticket.Project.Name</td>
                    <td>@ticket.AssignedTo.FullName</td>
                    <td>@ticket.Priority.Name</td>
                    <td>@ticket.Status.Name</td>
                    <td>@ticket.Action.Name</td>
                    <td>@ticket.Phase.Name</td>
                    <td>@ticket.Submitted.FormatDateTimeOffsetCondensed()</td>
                    <td><a href=@Url.Action("Details", "Tickets", new { id = ticket.Id }) class="btn btn-warning"><i class="fa fa-eye"></i></a>
                </tr>
            }
        </tbody>
    </table>
</div>
}
