@model BugTracker.Models.AssignUserViewModel

<h2><strong>Assign New Ticket</strong> for @Model.User.FullName</h2>
<div class="alert alert-info">
    Assigning a new developer will replace the currently assigned developer.
</div>
<label>Current Tickets</label>
@foreach (var ticket in Model.CurrentTickets)
{
    <dl class="dl-horizontal">
        <dt>Project:</dt>
        <dd>@ticket.Project.Name</dd>
        <dt>Ticket:</dt>
        <dd>@ticket.Name</dd>
        <dt>Priority:</dt>
        <dd>@ticket.Priority.Name</dd>
    </dl>
}
@using (Html.BeginForm("AssignUserToTicket", "Admin"))
{
    <div class="form-control">
        <label>Select Project <small>optional</small></label>
        @Html.DropDownListFor(m => m.SelectedProjectId, Model.Projects)
        @Html.ValidationMessageFor(m => m.SelectedProjectId)
    </div>

    <div class="form-control">
        <label>Select Ticket</label>
        @Html.DropDownListFor(m=>m.SelectedTicketId, Model.Tickets)
        @Html.ValidationMessageFor(m=>m.SelectedTicketId)
    </div>

    <input type="submit" class="btn btn-warning" value="Assign Ticket" />
}
