@model IEnumerable<BugTracker.Models.ApplicationUser>
@using BugTracker.Models
@using BugTracker.HelperExtensions

<h2 class="col-md-offset-1">All Users</h2>
<div id="usersRender" class="col-md-10 col-md-offset-1">
    @if (ViewBag.SuccessMessage != null)
    {@ViewBag.SuccessMessage()}
    @if (ViewBag.ErrorMessage != null)
    {@ViewBag.ErrorMessage()}
    @foreach (var user in Model.OrderBy(u => u.LastName))
    {
    <div class="box-info shadow">
        <h2>@user.LastName, @user.FirstName <small>(@user.Id.ListUserTickets().Count()) Tickets</small></h2>
        <div id="headerButtons">
            <a role="button" data-toggle="collapse" data-parent="#usersRender" data-target="#userInfo-@user.Id" aria-expanded="false" class="btn btn-warning">Details</a>
            @*<button type="button" class="assignUser btn btn-warning" data-id="@user.Id"><i class="fa fa-plus"></i> Ticket</button>*@
        </div>
        <div id="userInfo-@user.Id" class="box-content collapse" role="tabpanel">
            @Html.Action("_UserInfo", new { id = user.Id })
        </div>
    </div>
    }
</div>
<div id="editView" class="col-md-3">
</div>
