@model BugTracker.Models.UserInfoViewModel
@using BugTracker.HelperExtensions;

<div class="col-md-12">
    <div class="box-info shadow">
        <h2>@Model.User.FullName</h2>
        <div class="col-md-3">
            <dl>
                <dt>Email</dt>
                <dd>@Model.User.Email</dd>
                </dl>
            </div>
        <div class="col-md-3">
            <dl>
                <dt>Roles</dt>
                <dd>
                    <ul class="list-unstyled">
                        @foreach (var role in Model.Roles)
                        {
                            <li>@role</li>}
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-md-3">
            <dl>
                <dt>Projects</dt>
                <dd>
                    <ul class="list-unstyled">
                        @if (Model.AssignedProjects.Count() != 0)
                        {
                            foreach (var project in Model.AssignedProjects)
                            {
                                <li>@project.Name</li>
                            }
                        }
                    </ul>
                </dd>
            </dl>
        </div>
        </div>
    <div class="box-info shadow">
        @if (Model.User.Id.UserIsInRole("Developer"))
            {
                <table class="data-table-t hover table-striped order-column">
                    <thead>
                        <tr>
                            <th>Ticket Name</th>
                            <th>Project</th>
                            <th>Priority</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AssignedTickets.Count() == 0)
                        {
                            <tr><td>User has no tickets.</td></tr>
                        }
                        else
                        {
                            foreach (var ticket in Model.AssignedTickets)
                            {
                                <tr>
                                    <td>@ticket.Name</td>
                                    <td>@ticket.Project.Name</td>
                                    <td>@ticket.Priority.Name</td>
                                    <td>@ticket.Description</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
        }
        </div>
    <div class="box-info shadow">
        @if (Model.User.Id.UserIsInRole("Developer") || Model.User.Id.UserIsInRole("Project Manager"))
        {
                <table class="data-table-p hover table-striped order-column">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Deadline</th>
                            <th>Description</th>
                            <th>Open Tickets</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.AssignedProjects.Count() == 0)
                        {
                            <tr><td>User has no projects.</td></tr>
                        }
                        else
                        {
                            foreach (var project in Model.AssignedProjects)
                            {
                                <tr>
                                    <td>@project.Name</td>
                                    <td>@project.Deadline.FormatDateTimeOffset()</td>
                                    <td>@project.Description</td>
                                    <td>@project.Tickets.Count()</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
        }
    </div>
    <a href=@Url.Action("Users", "Admin") class="btn btn-warning">Back to List</a>
</div>
